*{
    margin: 0px;
}
.terms_cont{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.topsection{
    height:200px;
    background:url(../media/terms.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 16px;
}
.text-data{
    color:whitesmoke;
    font-size: 54px;
    font-weight: 500;
}
.text-sec{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.data-cont{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.data-cont h2{
    font-size: 24px;
    color: brown;
    text-transform: uppercase;
}
.data-cont p{
    font-size:14px;
    color: black;
}


@media only screen and (max-device-width:600px){
    .text-data{
        color:whitesmoke;
        font-size: 34px;
        font-weight: 500;
    }
}